@model List<BookingApiViewModel.Result>
@{
    Layout = null;
    var count = 0;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br /><br />
    @* aynı sayfa içerisinde hem Post hem de listeleme işlemi yapacağız.*@
    @using (Html.BeginForm("Index", "BookingByCityID", FormMethod.Post))
    {
        <label>ID Bilgisi Giriniz</label>
        <input type="text" class="form-control" name="cityID" />
        <br />
        <button class="btn btn-primary">Şehir İçin Otelleri Listele</button>
    }
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Otel Adı</th>
            <th>Otel Puanı</th>
            <th>Otel Detayları</th>
        </tr>
        @foreach (var item in Model)
        {
            count++;
            <tr>
                <th>@count</th>
                <td>@item.name</td>
                <td>@item.reviewScore</td>
                <td><a href="#" class="btn btn-outline-dark">Detaylar</a></td>
            </tr>
        }
    </table>
</div>

